
body{
    background-color: $bg_color;

    .navbar {
        background-color: $nav_color;

        .navbar-brand{
            font-size: 1.8em;
            font-weight: bold;
            text-shadow: 1px 1px  4px  rgba(0, 0, 0, 0.856);
            display: inline-block;
            margin-left: -0.5em;

            @media (min-width:768px) {
                    margin-left: 1em;
            }

            svg {
                margin-bottom: 0.2em;    
            }
        }
      
    }

    #main_content{
        height: 100vh;
        justify-content: center;
        padding: 0 1em;

        form {
            max-width: 25em;
            margin-top: 1em;
            padding: 2em 2em;
            background-color:  $nav_color;
            height: max-content;
            border-radius: 7px;
            color: $input_text_color;
            position: relative;

            .sign-up-form {
                animation: fadeIn 1s linear;
            }

            .sign-in-form {
                animation: fadeIn 1s linear;
            }

            .form-label{
                font-size: 1.5em;
                color: var(--bs-success);
            }

            .label-danger {
                color: var(--bs-danger) !important;
            }

            .btn-logo {
                margin-bottom: 0.3em;
                margin-right: 0.4em;
                height: 1.2em;
                margin-left: -1.5em;
            }

            .or-block{
                color: $input_text_color;
                width: 100%;
                text-align: center;
                position: relative;

                .or {
                   
                    span { 
                        display: inline-block;
                        padding: 0 0.8em;
                        background-color: $nav_color ;
                        z-index: 99;
                        position: relative;

                    }
                }

                .hrow {
                    position: absolute;
                    width: 100%;
                    top: 0.8em;
                    border-bottom: 1px solid $input_text_color;
                    z-index: 0;
                }

            }
            
            .form-control {
                background-color: transparent;
            }
            .form-control:focus {
                border-color: #28a745;
                box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
            } 
            button {
                width: 40%;
            }

            .input-block{
                position: relative;
                
                .float-label-input {
                    color: $input_text_color;
                }

                .float-label-input:focus ~ .placeholder,
                .float-label-input:not(:placeholder-shown) ~ .placeholder{
                    transition: transform 200ms ease-in-out;
                    transform: translateY(-22px) scale(0.9) translateX(-5px);
                }

                .float-label-input:focus ~ .pocket-4,
                .float-label-input:focus ~ .pocket-5,
                .float-label-input:focus ~ .pocket-6,
                .float-label-input:focus ~ .pocket-7,
                .float-label-input:focus ~ .pocket-8,
                .float-label-input:focus ~ .pocket-9,
                .float-label-input:focus ~ .pocket-10 {
      
                    transition: opacity 200ms ease-in-out;
                    opacity: 1;
                    
                }

                .float-label-input:not(:placeholder-shown) ~ .pocket-4,
                .float-label-input:not(:placeholder-shown) ~ .pocket-5,
                .float-label-input:not(:placeholder-shown) ~ .pocket-6,
                .float-label-input:not(:placeholder-shown) ~ .pocket-7,
                .float-label-input:not(:placeholder-shown) ~ .pocket-8,
                .float-label-input:not(:placeholder-shown) ~ .pocket-9,
                .float-label-input:not(:placeholder-shown) ~ .pocket-10 {

                    transition: opacity 200ms ease-in-out;
                    opacity: 1;
                }

                .placeholder {
                    position: absolute;
                    top: 0.5em;
                    left: 1em;
                    color: r$input_text_color;
                    background-color: transparent;
                    z-index: 99;
                }

                .pocket {
                    position: absolute;
                    height: 1em;
                    top: -0.5em;
                    left: 0.5em;
                    background-color: $nav_color;
                    opacity: 0;


                }
                
                .pocket-4 {
                    @extend .pocket;  
                    width: calc(0.6em * 4);
                }
                    
                .pocket-5 {
                    @extend .pocket;  
                    width: calc(0.6em * 5);
                }
                .pocket-6 {
                    @extend .pocket;  
                    width: calc(0.6em * 6);
                }
                .pocket-7 {
                    @extend .pocket;  
                    width: calc(0.6em * 7);
                }
                .pocket-8 {
                    @extend .pocket;  
                    width: calc(0.6em * 8);
                }
                .pocket-9 {
                    @extend .pocket;  
                    width: calc(0.6em * 9);
                }
                .pocket-10 {
                    @extend .pocket;  
                    width: calc(0.6em * 10);
                }
            }

        }
    
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}





