

.password-icon {
    height: 1.3em;
    width: 1.3em;
    position: absolute;
    top: 0.55em;
    right: 1em;

    .password-icon-hide,
    .password-icon-shown {
        pointer-events: none;
    }

    .hide{
        display: none;
    }
}

.float-label-input.is-valid ~ .password-icon,
.float-label-input.is-invalid ~ .password-icon {

    right: 2em;
}